html,
body {
    background-color: rgba(58,70,85,1);
    height: 705px;
    overflow: hidden;
    width: 368px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

#main {
    height: 700px;
}

#main h1 {
    padding-right: 6px;
    padding-top: 5px;
    text-align: right;
}
.display{
  text-align: center;
  width: 120%;
  padding-bottom: 20px;
}
.rating{
  font-size: 100px;
  margin-bottom: 20px;
  box-sizing: border-box;
  width: 98%;
  text-align: right;
  margin-left: -26px;
  height: 200px;
  color: white;
  margin-top: 0px;
  padding-top: 60px;
  padding-left: 40px;
}

.button {
  width: 33%;
  background-color: red;
}
.button2 {
  width: 50%;
  background-color: red;
}
.button3 {
  width: 100%;
  background-color: red;
}
.button-row{
  border-left: solid 1px rgba(58,70,85,1);
  border-right: solid 1px rgba(58,70,85,1);
  width: 111%;
  margin-left: -15px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.buttons > div {
    text-align: center;
}
.limbs{
  color: #687585!important;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.clear{
  color: #A11B18!important;
}
.number-button {
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 70px;
    padding-top: 10px;
    margin: 0px;
    font-size: 20px;
    position: relative;
    width: 100%;
    border: solid 1px rgba(58,70,85,1);
    background-color: rgba(41,49,59,1);
    -webkit-app-region: no-drag;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}
.number{
  width: 200px!important;
}

.on{
  background-color: #A11B18!important;
  color: white!important;
}
.bi-message{
  color: #687585!important;
  position: relative;
  margin-left: -20px;
  margin-bottom: -20px;
  margin-top: -20px;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.number-button:hover {
    bottom: 1px;
    color: white!important;

}

.button-icon {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 50px;
    left: -2px;
    position: absolute;
    top: -40px;
    width: 30px;
    -webkit-app-region: no-drag;
    border: solid, 2px
}

.settings,
.close {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;
    -webkit-app-region: no-drag;
}

.settings {
    background: transparent url('../img/settings.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 38px;
}

.close {
    background: transparent url('../img/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 6px;
}
